<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

</ion-content> -->


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-card button="{{photo.filepath}">

          <ion-img [src]="photo.webviewPath"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>
              {{photo.filepath}}
            </ion-card-subtitle>

          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>

    </ion-fab-button>
  </ion-fab>
</ion-content>
